<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.accountbook.dao.IncomeMapper">
    <cache type="com.example.accountbook.Cache.MybaitsRedisCache"/>
    <cache-ref namespace="com.example.accountbook.dao.UserDao"/>
    <insert id="addIncome" parameterType="com.example.accountbook.pojo.Income">
        insert into income(uid, type, amount, text) VALUES
        (#{uid},#{type},#{amount},#{text})
    </insert>
    <select id="queryAllIncomById" resultType="com.example.accountbook.pojo.Income">
        select * from income
        where uid=#{id}
    </select>
    <select id="queryAllIncomeByType" resultType="com.example.accountbook.pojo.Income">
        select * from income
        where uid=#{id} and type=#{type}
    </select>
    <select id="getDaysAmountsByType" resultType="Double">
        select ifnull(sum(amount),0.00) from income
        where uid=#{id} and type=#{type} and TO_DAYS(create_time)=TO_DAYS(NOW())
    </select>
    <select id="getWeeksAmountByType" resultType="Double">
        select ifnull(sum(amount),0.00) from income
        where uid=#{id} and type=#{type} and YEARWEEK(create_time)=YEARWEEK(NOW())
    </select>
    <select id="getMonthsAmountByType" resultType="Double">
        select ifnull(sum(amount),0.00) from income
        where uid=#{id} and type=#{type} and DATE_FORMAT(create_time,'%Y%m')=DATE_FORMAT(CURDATE(),'%Y%m')
    </select>
</mapper>